.navbar {
  list-style-type: none;
  max-height: 20px;
 }
.birdlogo {
  width: 120px;
  vertical-align: top;
  height: 50px;
  margin-top: -25px;
  padding-right: 20px;}

.container.listpadding {
  margin-top: 25px;
}

.toggle-star {
  margin-bottom:15px;
  border-radius: 15px;
  background: none;
  padding: 10px 15px;
  border: 5px
  solid #0099cc;
	color: #0099cc;
  float: none;
}
